<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/pages/frontpage/frontpage.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%DOCUMENT_TITLE%%</title>
</head>
<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
        </div>
      
        <div id="navbar" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Home
            </a>
      
            <a class="navbar-item" href="/javascript">
              Javascript
            </a>

            <a class="navbar-item" href="/restapi">
              Rest-api
            </a>

            <a class="navbar-item" href="/node">
              Node
            </a>

            <a class="navbar-item" href="/ssr">
              SSR
            </a>
      
            <a class="navbar-item" href="/cleancode">
              Clean-Code
            </a>
      
              
              </div>
            </div>
          </div>
        </div>
      </nav>